In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = data('titanic')
df.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [3]:
df.replace({'class':{'1st class': 1, '2nd class': 2, '3rd class': 3}}, inplace=True)

In [4]:
df.replace({'age':{'adults': 1, 'child': 2}}, inplace=True)

In [5]:
df.replace({'sex':{'man': 1, 'women': 2}}, inplace=True)

In [6]:
df.replace({'survived':{'yes': 1, 'no': 2}}, inplace=True)

In [16]:
df['baseline'] = 2
df.head()

   class  age  sex  survived  baseline
1      1    1    1         1         2
2      1    1    1         1         2
3      1    1    1         1         2
4      1    1    1         1         2
5      1    1    1         1         2

In [17]:
(df.survived == df.baseline).mean()

0.6208206686930091

In [18]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [19]:
train, validate, test = train_validate_test_split(df, target='survived', seed=123)

In [20]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [21]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [22]:
clf = clf.fit(X_train, y_train)