In [1]:
import pandas as pd
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

### Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [2]:
# Turning this into a Data Frame and transposing for readability. 
data = {'actual_dog':['46','7'],'actual_cat':['13','34']}
df = pd.DataFrame(data, columns = ['actual_dog','actual_cat'], index=['pred_dog','pred_cat'])
df

         actual_dog actual_cat
pred_dog         46         13
pred_cat          7         34

##### In the context of this problem, what is a false positive?

Answer: predicting a dog but it's actually a cat

##### In the context of this problem, what is a false negative?

Answer: predicting a cat but it's actually a dog

#### How would you describe this model?

I chose to transpose the matrix so that the predicitons are rows instead of columns, that way it lines up with the charts we've been looking at in class.

### You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

#### An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

#### Outline the problem:

###### Postive :  Defect detected
###### Negative :  No Defect detected

TP: We predict a defect and the actual is a defect

FP: We predict a defect and the actual is NOT a defect

FN: We predict NO defect and the actual is a defect

TN: We precit NO defect and the actual is NOT a defect


What matters to us most? Detecting the defects.

Therefore, we want Recall: TP/TP + FN

In [3]:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [5]:
subset = df[df.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [6]:
# Model 1 recall
(subset.actual == subset.model1).mean()

0.5

In [7]:
# Model 2 recall
(subset.actual == subset.model2).mean()

0.5625

#### Answer

In [8]:
# Model 3 recall
(subset.actual == subset.model3).mean()

0.8125

#### Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Precision: TP/TP+FP

In [9]:
(df.model1 == df.actual).mean()

0.95

In [10]:
subset1 = df[df.model1 == 'Defect']
subset1.head()

       actual  model1     model2     model3
3   No Defect  Defect     Defect     Defect
30     Defect  Defect  No Defect     Defect
62  No Defect  Defect  No Defect  No Defect
65     Defect  Defect     Defect     Defect
70     Defect  Defect     Defect     Defect

#### This would be our model

In [12]:
(subset1.actual == subset1.model1).mean()

0.8

In [13]:
subset2 = df[df.model2 == 'Defect']
subset2.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [14]:
(subset2.actual == subset2.model2).mean()

0.1

In [15]:
subset3 = df[df.model3 == 'Defect']
subset3.head()

       actual     model1     model2  model3
1   No Defect  No Defect     Defect  Defect
3   No Defect     Defect     Defect  Defect
5   No Defect  No Defect  No Defect  Defect
9   No Defect  No Defect  No Defect  Defect
13     Defect  No Defect     Defect  Defect

In [16]:
(subset3.actual == subset3.model3).mean()

0.13131313131313133

##### You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [17]:
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [18]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [19]:
df['baseline'] = 'dog'
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

Comparing to baseline

In [20]:
(df.model1 == df.baseline).mean()

0.5874

In [21]:
(df.model2 == df.baseline).mean()

0.3576

In [22]:
(df.model3 == df.baseline).mean()

0.5016

In [23]:
(df.model4 == df.baseline).mean()

0.8506

Baseline to actual

In [24]:
(df.actual ==  df.baseline).mean()

0.6508

Comparing models to actual

In [25]:
(df.model1 == df.actual).mean()

0.8074

In [26]:
(df.model2 == df.actual).mean()

0.6304

In [27]:
(df.model3 == df.actual).mean()

0.5096

In [28]:
(df.model4 == df.actual).mean()

0.7426

model1 and model4 have better accuracy than the baseline

#### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

#### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?