In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

### Exercise 1

#### Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [2]:
attendance = pd.read_csv('untidy-data/attendance.csv')
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [ ]:
attendance.columns.values[0] = 'Name'
attendance

In [ ]:
attendance = attendance.melt(attendance, id_vars=['Name'])